:root {
  --color-orange: #f14d34;
  --color-main-black: #040613;
  --color-text-gray: #999;
}

:root {
  --font-default-size: min(2.5vw, 14px);
}

body,
html,
a,
menu,
p,
h1,
h2,
ul,
li,
button {
  all: unset;
}

@font-face {
  font-family: Montserrat;
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

html, body {
  width: 100vw;
  min-height: 100%;
  font-family: Montserrat;
  background-color: white;
}

a,
p,
button {
  font-size: var(--font-default-size);
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

a:hover {
  
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: min(7vw, 50px);
}

h2 {
  font-size: min(5vw, 30px);
}

h3 {
  font-size: min(3vw, 20px);
}