:root {
  --color-orange: #f14d34;
}

:root {
  --font-default-size: min(2vw, 15px);
}

body,
html,
a,
p,
h1,
h2,
ul,
li,
button {
  all: unset;
}

@font-face {
  font-family: Montserrat;
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

html {
  height: 100%;
  min-height: 100%;
  font-family: Montserrat;
}

a,
p,
button {
  font-size: --var(--font-default-size);
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

a:hover {
  
}

h1 {
  font-size: min(6vw, 40px);
}

h2 {
  font-size: min(5vw, 30px);
}